/*@import "~react-image-gallery/styles/css/image-gallery.css";*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
}

.app {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input.error {
  border-color: red;
}

.site-card-border-less-wrapper {
  padding: 30px;
  background: #ececec;
}
[data-theme="dark"] .site-card-border-less-wrapper {
  background: #303030;
}

.input-feedback {
  color: red;
  height: 5px;
  margin-top: -12px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.headerTop{
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
  align-content: center;
  font-weight: 800;
  color: #ffffff;
  stroke-width: 6px;
  stroke: #000000;
}
